.nav{
  height: 120px;
  width: 100%;
  .nav-content{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
  }
  .logo{
    float: left;
    width: 166px;
    height: 32px;
    margin-top: 44px;
    background: url('~assets/imgs/icon/logo.png') 0 0 no-repeat;
    background-size: 100%;
  }
  .tag{
    width: 290px;
    height: 30px;
    margin-top: 45px;
    float: right;
    background: #0300e4;
  }
  ul{
    float: right;
    margin-top: 48px;
    li{
      float: left;
      margin-left: 35px;
      padding-bottom: 8px;
      font-size: 14px;
      cursor: pointer;
      &.active{
        border-bottom: 3px solid #e40011;
        color: #e40011;
        font-weight: bold;
      }
    }
  }
}
  